.donate-options {
    @include reset-ul;
    padding: 0.2em;

    .donate-option {
        display: inline-block;
        vertical-align: middle;
        padding: 0.2em;

        &.bitcoin-url {
            font-size: 0.9em;
            word-break: break-all;
        }

        &.bank-transfer {
            font-size: 0.9em;
            font-weight: bold;

            ul {
                @include reset-ul;
            }

            li {
                font-weight: normal;
            }
        }

        &.hellotux {
            font-size: 0.9em;
            font-weight: bold;

            ul {
                @include reset-ul;
            }

            li {
                font-weight: normal;
            }
        }
    }
}
